# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# example env files, env files that end with .example.
# .env should not be included because Dockerfiles can only pull build args
# from .env as .env is for buildtime and environment and env_files in a docker-compose file is for runtime.
# And because .env will contain sensitive data, it should not be included in the repository.
# each developer should create their own .env file and get their own credentials.
.env**
!.env**example


# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# editors
.vscode
.idea